{% extends './base.html' %}

{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<h1 class="text-center">Agregar Productos</h1>

<div class="container">
  <form id="agregarP" action="">
    <div class="row">
      <div class="col mt-3">
        <label for="txtIdProducto">Id:</label>
        <input id="txtIdProducto" name="txtIdProducto" type="text" class="form-control">
        <br>
        <label for="txtPrecioProducto">Precio:</label>
        <input id="txtPrecioProducto" name="txtPrecioProducto" type="number" class="form-control">
        <br>
      </div>
      <div class="col mt-3">
        <label for="txtNombreProducto">Nombre:</label>
        <input id="txtNombreProducto" name="txtNombreProducto" type="text" class="form-control">
        <br>
        <label for="txtTamanoProducto">Tamaño:</label>
        <select id="txtTamanoProducto" name="txtTamanoProducto" class="form-select" aria-label="Default select example">
          <option value="1">Pequeña</option>
          <option value="2">Mediana</option>
          <option value="3">Grande</option>
        </select>
        <br>
      </div>
      <button class="btn btn-success mt-3">Agregar</button>
    </div>
  </form>
</div>

<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/darkMode.js' %}"></script>
<script src="{% static 'js/validarProducto.js' %}"></script>

{% endblock %}