{% extends './base.html' %}

{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre producto</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Girasol</td>
        <td>Flor amarilla con centro cafe</td>
        <td>$5000</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Rosa</td>
        <td>Flor roja</td>
        <td>$6000</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Dollar</td>
        <td>Planta de color verde</td>
        <td>$8000</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Ficus</td>
        <td>Planta de color verde oscuro</td>
        <td>$10000</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Fukinagashi</td>
        <td>Bonsai solitario</td>
        <td>$15000</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Shohin</td>
        <td>Bonsai tipo bosque</td>
        <td>$20000</td>
      </tr>
    </tbody>
  </table>
</div>


<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/darkMode.js' %}"></script>
<script src="{% static 'js/validarProducto.js' %}"></script>

{% endblock %}