{% extends "./base.html" %}

{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="d-flex justify-content-end mt-3">
  <header class="container-fluid position-sticky top-0">
    <ul class="nav nav-pills mb-3 container justify-content-end" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active bg-dark" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
          type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Productos</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link bg-dark" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
          type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><i
            class="bi bi-cart-check-fill text-light"></i></a>
      </li>
    </ul>
  </header>
</div>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    1
  </div>
  <div class="tab-pane fade show active container" id="pills-profile" role="tabpanel"
    aria-labelledby="pills-profile-tab">


    <div class="containerProductos">
      <div class="cards-wrapper2">
        <div class="container-fluid text-center">
          <div class="row d-flex">

            {% for p in producto %}
            <div class="col">
              <div class="cardProductos">
                <img src="{{p.imagenUrl}}" id="fotoCarro" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{p.nombre}}</h5>
                  <h6><span class="precio">${{p.precio}}</span></h6>
                  <button class="btn btn-success button">Añadir al Carrito</button>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="tab-pane fade carrito" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    <br>
    <table class="table table-hover">
      <thead>
        <tr class="text-dark">
          <th scope="col">#</th>
          <th scope="col">Productos</th>
          <th scope="col">Precio</th>
          <th scope="col">Cantidad</th>
        </tr>
      </thead>
      <tbody class="tbody">



      </tbody>
    </table tabletable-hover>
    <div class="row mx-4">
      <div class="col">
        <h3 id="totalCarrito" class="itemCartTotal">Total: 0</h3>
      </div>
      <div class="col d-flex justify-content-end">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
          COMPRAR
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModal">Estado de compra</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <img id="gonModal" src="{% static 'img/gonModal.jpg' %}" alt="">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<script src="{% static 'js/darkmode.js' %}"></script>
<script src="{% static 'js/carroCompra.js' %}"></script>

{% endblock %}